rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Default deny all access.
      // Specific paths can be opened up as needed for features.
      allow read, write: if false;
    }
  }
}
